@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Rubik", sans-serif;
}

:root {
  --clr1: #083041;
  --clr2: #f8f9fa;
  --clr3: #e9ecef;
}

.main-container {
  background-color: var(--clr2);
  /* height: 100%; */
  overflow: auto;
}

/* Header style */

.main-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--clr1);
  color: white;
  padding: 0 3rem;
}

.main-container .header h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 2.5;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-container .profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-container .profile .img-holder {
  max-width: 40px;
  max-height: 40px;
  margin-right: 0.5rem;
  border-radius: 100%;
  overflow: hidden;
}

.profile-container .profile .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-container .sub-menu {
  display: none;
  position: absolute;
  top: 60px;
  background-color: white;
  border: 2px solid var(--clr3);
  border-radius: 4px;
  width: 140px;
  padding: 0.8rem;
  animation: subMenu 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
}

@keyframes subMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}

.profile-container .sub-menu.active {
  display: flex;
  flex-direction: column;
}

.profile-container .sub-menu a {
  color: black;
  text-decoration: none;
  line-height: 2;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 400;
  transition: color 150ms ease-in-out;
}

.profile-container .sub-menu a:hover {
  color: hsl(210, 16%, 60%);
}
.profile-container .sub-menu a:not(:last-child) {
  border-bottom: 1px solid var(--clr3);
}

.body-content {
  padding: 2rem 1rem;
  height: calc(100vh - 60px);
  /* min-height: 100%; */
}

/* cards styling starts here */

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
}

.card-container .card-box {
  background-color: #ffff;
  border: 2px solid var(--clr3);
  border-radius: 8px;
  max-width: calc(750px - 2rem);
  width: 100%;
  padding: 2rem;
  margin-bottom: 2.5rem;
}

.card-container .card-box .box-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.card-container .card-box .box-top p {
  margin-right: 1rem;
}

.card-container .card-box .box-top::after {
  content: "\2807";
  font-size: 32px;
}

.card-container .card-box .box-title {
  display: flex;
  align-items: center;
}
.card-container .card-box .box-title .img-holder {
  max-width: 100px;
  max-height: 100px;
  margin-right: 1rem;
  border-radius: 100%;
  overflow: hidden;
  border: 1px solid var(--clr3);
}

.card-container .card-box .box-title .img-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container .card-box .box-title h2 {
  font-weight: 500;
}
.card-container .card-box .box-title h2 a {
  text-decoration: none;
  color: #000;
  position: relative;
}

.card-container .card-box .box-title h2 a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: var(--clr3);
}

.card-container .card-box .box-content p {
  margin-top: 1rem;
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;
}

/* Authentication style (login and register) */
.authentication-body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(105deg, #d16ba5 0%, #86a8e7 50%, #5ffbf1 100%);
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite alternate;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.auth-container {
  max-width: 400px;
  margin:  0rem auto;
  padding: 1.5rem;
  width: 100%;
  background-color: #fff;
  border: 2px solid var(--clr3);
  border-radius: 8px;
}

.auth-container .auth-nav {
  position: relative;
}
.auth-container .auth-nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

.auth-container .auth-nav a:first-child {
  margin-right: 1.5rem;
}

.auth-container .auth-nav span {
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 45px;
  height: 2px;
  background-color: var(--clr1);
}

.auth-container .auth-container-body {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.authentication-body .auth__title{
  max-width: 500px;
  margin: 3rem auto;
}
.authentication-body .auth__title h2 {
  font-size: 42px;
  font-weight: 800;
  color: white;
  line-height: 1.2;
}

.authentication-body  .auth__title h2 span {
  color: var(--clr1);
  display: block;
}

.auth-container .auth-container-body input {
  padding: 0.8rem 0.4rem;
  letter-spacing: 1px;
}
.auth-container .auth-container-body input[type="password"] {
  margin: 1rem 0;
}

.login-box {
  margin-top: 1rem;
}

.auth-container .auth-container-body .remember-box,
.auth-container .auth-container-body .login-box {
  display: flex;
  align-items: center;
}

.auth-container .auth-container-body .remember-box input[type="checkbox"] {
  margin-right: 1rem;
}
.auth-container .auth-container-body .login-box input[type="button"] {
  padding: 0.8rem 2rem;
  margin-right: 1rem;
  background-color: var(--clr1);
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.auth-container .auth-container-body .login-box a {
  text-decoration: none;
  color: #3395ff;
}
