{% extends 'main_layout.html' %}
{% block main_content %}

<div class="card-container">
    {% for post in posts.items %}
    <div class="card-box">
        {% if post.author == current_user %}
        <div class="card-controls">
            <a href="{{ url_for('posts.delete_post', post_id=post.id) }}"> <i class="fas fa-trash-alt"></i></a>
            <a href="{{ url_for('posts.update_post', post_id=post.id) }}"><i class="fas fa-edit"></i></a>
        </div>
        {% endif %}
        <div class="box-top">
            <p>{{post.date_posted.strftime("%d %B, %Y")}}</p>
        </div>

        <div class="box-title">
            <div class="img-holder">
                <img src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
                    alt="profile picture" />
            </div>
            <a href="{{ url_for('posts.post', post_id=post.id) }}">
                <h2>"{{post.title}}"</h2>
            </a>

            <h2><a href="{{ url_for('users.user_posts', username=post.author.username) }}">By {{post.author.username}}</a>
            </h2>
        </div>

        <div class="box-content">
            <p>{{post.content}}</p>
        </div>
    </div>
    {% endfor %}

    <div class="paginate-container">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        {% if posts.page == page_num %}
        <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% else %}
        <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
        {% else %}
        ...
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock main_content %}